body{
    margin:0;
}

header{
    padding: 10px;
    border: 1px solid black;
    background-color: burlywood;
    color: white;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.mx-10{
    margin: 10px;
}