
.user-block{
margin: 10px;
    height: 26px;
}

.user-text{
    font-family: "Century Gothic";
    font-size: 16px;
}

.user-link{
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
    padding: 1px;
    margin-left: 10px;
    color: rgb(36, 123, 160);
    /*background-color: rgb(242, 95, 92);*/
}

.user-link:hover {
    color: rgb(80, 81, 79);
}

