.main-all-users {
    background-color: orange;
    width: 100%;
    display: flex;
margin: 10px;
}
.users {
    width: 35%;
    background-color: yellow;
    border: 5px solid black;
    padding: 5px;
}

.user-info {
    width: 30%;
    border: 5px solid red;
}

