.mainWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    position: relative;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

header, footer{
    padding: 10px 20px;
    background-color: coral;
}